<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Countdown timer</title>

</head>
<body>
  <div id="app-5">
    <div id="run">
      <p>state: {{state}}</p>
      <p>sets:{{ runs }}</p>
      <button :disabled="!!interval" @click="startTimer">Start</button>
      <button :disabled="!interval" @click="stopTimer">Pause</button>
      <button @click="reset">Reset</button>
      <button @click="showOptions = !showOptions">Options</button>
      <p>Time: {{ (counter/1000).toFixed(2) }}</p>
      <p v-if=action>{{ action }}</p>
    </div>
    <div id="options" v-if="showOptions" :disabled="!!interval">
      <p>
        Action interval: <input :disabled="!!interval" type="number" v-model="firstInterval"> seconds
      </p>
      <p>
        Start sound: <input :disabled="!!interval" type="text" v-model="startSoundLocation"> <button :disabled="!!interval" @click="setStartSound">Set</button>
      </p>
      <p>
        Rest interval: <input :disabled="!!interval" type="number" v-model="secondInterval"> seconds
      </p>
      <p>
        Stop sound: <input :disabled="!!interval" type="text" v-model="stopSoundLocation"> <button :disabled="!!interval" @click="setStopSound">Set</button>
      </p>

    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="timer.js"></script>
</html>